In [9]:
import pandas as pd

In [13]:
df = pd.read_csv("/home/furkan-dev/Furkan/PCPP/data/cosmo-e.csv")

In [14]:
df.head()

,stn,time,leadtime,T_2M,T_2M.1,T_2M.2,T_2M.3,T_2M.4,T_2M.5,T_2M.6,...,DURSUN.12,DURSUN.13,DURSUN.14,DURSUN.15,DURSUN.16,DURSUN.17,DURSUN.18,DURSUN.19,DURSUN.20,Unnamed: 129
0,NaN,unit,NaN,[deg C],[deg C],[deg C],[deg C],[deg C],[deg C],[deg C],...,[s],[s],[s],[s],[s],[s],[s],[s],[s],NaN
1,NaN,member,NaN,00,01,02,03,04,05,06,...,12,13,14,15,16,17,18,19,20,NaN
2,ARO,20250415 12:00,000:00,7.0,7.3,6.9,7.4,6.6,7.0,7.7,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN
3,ARO,20250415 18:00,006:00,6.8,6.6,7.0,6.6,6.7,6.9,6.7,...,16263.0,17213.0,16541.5,16276.5,16290.0,16199.5,17226.0,18271.5,17993.5,NaN
4,ARO,20250416 00:00,012:00,5.1,5.0,5.2,5.3,5.4,5.4,5.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN